*.pyc
.*.swp
.swp
/.vimproject
/Makefile
/Session.vim
/dev.db
/node_modules/
/starthilfe/templates/_scripts.html
/starthilfe/templates/_styles.html
/.idea/
/starthilfe/site_media/
/tags
/virtualenv/

