<ul>
 {% for member in members %}
 <li>
  <a href="{{ member.get_absolute_url }}">{{ member }}</a>
  {% if member.kind == 'folder' %}
  <a href="{% url 'documents_folder_share' member.pk %}">share</a>
  {% endif %}
  {% if member.kind == 'document' %}
  <a href="{% url 'documents_document_delete' %}">delete</a>
  {% endif %}
 </li>
 {% endfor %}
 <li><a href="{% url 'documents_folder_create' %}{% if folder %}?p={{ folder.pk }}{% endif %}">Add a folder...</a></li>
 <li><a href="{% url 'documents_document_create' %}{% if folder %}?f={{ folder.pk }}{% endif %}">Add a document...</a></li>
</ul>
